<section class="contact">
  <div class="container">
    <div class="contact-content">
      <h2 class="header">GET A FREE CONSULTATION WITH OUR EXPERTS</h2>
      <div class="services">
        <h3>Service</h3>
        <div class="services-items">
          <p>Website</p>
          <p>mobile app</p>
          <p>desktop app</p>
          <p>ui/ux</p>
        </div>
      </div>
      <form>
        <div class="row g-3 mb-3">
          <div class="col-md">
            <label for="name" class="form-label">Your name</label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="col-md">
            <label for="phone" class="form-label">Your phone number</label>
            <input
              class="phone"
              type="number"
              class="form-control"
              id="phone"
            />
          </div>
        </div>
        <div class="mb-3 email">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="pickers-wrapper mb-3">
          <div class="form-group">
            <div class="form-date-picker">
              <label igxLabel>Select Date</label>
              <igx-date-picker
                #datePicker
                name="date-picker"
                [(ngModel)]="date"
              >
              </igx-date-picker>
            </div>
            <div class="form-time-picker">
              <label igxLabel>Select timeslot</label>
              <igx-time-picker
                name="time-picker"
                [(ngModel)]="date"
                [disabled]="datePicker.value ? false : true"
              >
              </igx-time-picker>
            </div>
          </div>
        </div>
        <div class="mb-3 note">
          <label for="note" class="form-label">Note</label>
          <input type="text" class="form-control" id="note" />
        </div>
        <button class="btn">Book free</button>
      </form>
    </div>
    <div class="booking-img">
      <img src="assets/images/home/booking/Group 2000003075.png" />
    </div>
  </div>
</section>
