@mixin breakpoints($point) {
  @if $point == mobile {
    @media (max-width: 450px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 451px) and (max-width: 768px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 769px) and (max-width: 992px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 993px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == XLarge {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

footer {
  backdrop-filter: blur(50px);
  padding: 2rem 4rem;
  color: white !important;
  section {
    position: relative;
    .logo {
      margin-bottom: 1rem;
    }
    .content {
      font-weight: 300;
    }
    .hover {
      .widget {
        ul {
          li {
            a {
              cursor: pointer;
              &:hover {
                color: wheat !important;
              }
            }
          }
        }
      }
    }
    .icons {
      .nav {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 1rem;
        @include breakpoints(mobile) {
          flex-wrap: nowrap;
          margin-bottom: 0.5rem;
        }
        li {
          a {
            color: white !important;
            img {
              @include breakpoints(mobile) {
                width: 2rem;
              }
            }
            &:hover {
              color: wheat !important;
            }
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    font-weight: 300;
  }
}
