$primary: #00a6fb;

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  outline: none;
}

button {
  outline: none;
}

.section {
  margin-bottom: 10rem;
}

.header,
.pragraph {
  margin-bottom: 1.5rem;
}

.active {
  border-bottom: thin solid $primary !important;
  color: $primary !important;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

// __________ global _____________

.navbar {
  z-index: 100;
  .navbar-toggler {
    background-color: transparent;
    i {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .navbar-nav {
    .nav-item {
      margin-left: 1rem;
      .show {
        color: $primary;
        border-bottom: thin solid $primary;
      }
      .nav-link {
        border-bottom: thin solid transparent;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          border-bottom: thin solid $primary;
          color: $primary;
        }
      }
    }
  }
  .button {
    display: flex;
    align-items: center;
    .bi {
      color: white;
    }
    .bi-search {
      padding-right: 2rem;
      font-size: 28px;
    }
    .btn {
      border: 1px solid $primary;
      color: $primary;
      padding: 10px 25px 10px 30px;
      border-radius: 32px;
      i {
        color: $primary;
      }
    }
  }
}
