<nav
  class="navbar navbar-expand-lg pt-4"
  [ngClass]="isNavbarFixed ? 'fixed' : 'notfixed'"
  (scroll)="onScroll()"
>
  <div class="container">
    <img src="assets/images/header/logo.png" alt="Iteck logo" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-text-right text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul
        class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav"
        style="--bs-height: 100px"
      >
        <li class="nav-item">
          <a
            routerLink="home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="portfolio"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            >Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            class="nav-link"
          >
            Contact
          </a>
        </li>
      </ul>
      <div class="button d-flex ms-auto">
        <button class="btn" type="submit">
          Get in touch
          <i class="bi bi-arrow-right ms-2"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
