<div class="main">
  <section class="hero">
    <img class="background" src="/assets/images/home/hero/background.png" />
    <img class="github1" src="assets/images/home/hero/Github-1.png" />
    <img class="github" src="assets/images/home/hero/Github.png" />
    <img class="javascript" src="assets/images/home/hero/JAVA SCRIPT.png" />
    <img class="slack" src="assets/images/home/hero/slack-1.png" />
    <div class="hero-container container">
      <div class="hero-content">
        <h3>PHARAO 101</h3>
        <h1 class="header">
          <span class="lg">Best <span class="co">Solution</span> and Grow</span>

          <span class="sm"> your business easier than ever</span>
        </h1>
        <p class="pragraph">
          Elevate Your Business with Expert Java, PHP, React, Angular, and AWS
          Solutions.
        </p>
        <div class="contact">
          <button class="btn">
            Get in touch <i class="bi bi-arrow-right ms-2"></i>
          </button>
        </div>
      </div>
      <div class="hero-img">
        <img
          src="assets/images/home/hero/hero-photo.png"
          alt="hero-photo"
          class="hero-photo"
        />
      </div>
    </div>
  </section>
  <section class="guide section">
    <div class="news">
      <div class="news-slide">
        <div class="slide">
          <span>+ Style Guides</span>
          <span>+ A / B Testing</span>
          <span>+ User personas</span>
          <span>+ User Stories</span>
          <span>+ Style Guides</span>
          <span>+ A / B Testing</span>
          <span>+ User personas</span>
          <span>+ User Stories</span>
        </div>
        <div class="slide">
          <span>+ Style Guides</span>
          <span>+ A / B Testing</span>
          <span>+ User personas</span>
          <span>+ User Stories</span>
          <span>+ Style Guides</span>
          <span>+ A / B Testing</span>
          <span>+ User personas</span>
          <span>+ User Stories</span>
        </div>
      </div>
    </div>
  </section>
  <section class="services section">
    <div class="container">
      <div class="title">
        <h2>FEATURED <span>SERVICES</span></h2>
      </div>
      <div class="cards">
        @for (card of cards; track card.id) {
        <app-card [cards]="card" />
        }
      </div>
    </div>
  </section>
  <section class="projects section">
    <div class="title">
      <h2>RECENT <span>PROJECTS</span></h2>
    </div>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSex">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSex"
                    aria-expanded="false"
                    aria-controls="collapseSex"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseSex"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingSex"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="assets/images/home/projects/Rectangle 41963.png"
                    class="d-block w-100"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images/home/projects/Rectangle 41963.png"
                    class="d-block w-100"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images/home/projects/Rectangle 41963.png"
                    class="d-block w-100"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about section">
    <div class="container">
      <div class="about-content">
        <div class="title">
          <h2>ABOUT <span>US</span></h2>
        </div>
        <h1 class="header">
          Meet With <span>A House</span><br />
          Of Creatives.
        </h1>
        <p class="pragraph">
          Iteck Co is the partner of choice for many of the world's leading
          enterprises, SMEs and technology challengers. We help businesses
          elevate their value through custom software development, product
          design, QA and consultancy services.
        </p>
        <div class="rates">
          <div>
            <div class="experince about-box">
              <img src="assets/images/home/about/years.png" />
              <div class="info">
                <h3>+20</h3>
                <p>YEARS OF EXPERIENCE</p>
              </div>
            </div>
            <div class="rate about-box">
              <img src="assets/images/home/about/projects.png" />
              <div class="info">
                <h3>15K</h3>
                <p>PROJECTS COMPLETED</p>
              </div>
            </div>
          </div>
          <div>
            <div class="team-members about-box">
              <img src="assets/images/home/about/achieved.png" />
              <div class="info">
                <h3>240</h3>
                <p>AEARDS ACHIEVED</p>
              </div>
            </div>
            <div class="projects about-box">
              <img src="assets/images/home/about/clients.png" />
              <div class="info">
                <h3>180</h3>
                <p>SATISFIED CLIENTS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-img">
        <img src="assets/images/home/about/Rectangle 9.png" alt="about" />
      </div>
    </div>
  </section>
  <section class="why section">
    <div class="container">
      <div class="why-img">
        <img src="assets/images/home/why/main.png" alt="why" />
      </div>
      <div class="why-content">
        <div class="title">
          <h2>Why <span>Choose Us</span></h2>
        </div>
        <h1 class="header">
          Why Choose Our Own <br />
          <span>IT service</span>
        </h1>
        <div class="rates">
          <div class="experince why-box">
            <img src="assets/images/home/why/Price.png" />
            <div class="info">
              <h4>Affordable Price</h4>
              <p>
                Nanotechnology immersion along the information high will close
                the loop on focusing.
              </p>
            </div>
          </div>
          <div class="rate why-box">
            <img src="assets/images/home/why/crown.png" />
            <div class="info">
              <h4>Top-Notch Experts Consulting</h4>
              <p>
                Our top-notch Experts with much years of experience certail will
                give best solutions for your business
              </p>
            </div>
          </div>
          <div class="team-members why-box">
            <img src="assets/images/home/why/Chat.png" />
            <div class="info">
              <h4>Dedicated Support 24/7</h4>
              <p>Customer support is always our number one priority</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cycle section">
    <div class="container">
      <img class="background" src="assets/images/home/cycle/background.png" />
      <div class="title">
        <h2>WORKING <span>CYCLE</span></h2>
      </div>
      <h1 class="header">How we work Process</h1>
      <p class="pragraph">
        Lorem ipsum dolor sit amet consectetur. Ut donec consequat sodales
        sollicitudin sed. Lorem ipsum dolor sit amet consectetur. Ut donec
      </p>
      <div class="row">
        <div class="col">
          <img src="assets/images/home/cycle/number1.png" />
          <h3>Project discussion</h3>
          <p>
            In our client meeting, we addressed challenges and proposed
            solutions to improve the usability and satisfaction of the client.
          </p>
        </div>
        <img
          class="vector vector1"
          src="assets/images/home/cycle/Vector1.png"
        />
        <img
          class="vector vector4"
          src="assets/images/home/cycle/Vector6.png"
        />
        <div class="col down">
          <img src="assets/images/home/cycle/number2.png" />
          <h3>Development</h3>
          <p>
            We ensure smooth website experience by solving customer problems,
            ensuring user satisfaction.
          </p>
        </div>
        <img
          class="vector vector2"
          src="assets/images/home/cycle/Vector2.png"
        />
        <img
          class="vector vector5"
          src="assets/images/home/cycle/Vector5.png"
        />
        <div class="col">
          <img src="assets/images/home/cycle/number3.png" />
          <h3>Testing & Trying</h3>
          <p>
            We meticulously monitor and thoroughly test the site to catch any
            unintended errors before delivering it to the client.
          </p>
        </div>
        <img
          class="vector vector3"
          src="assets/images/home/cycle/Vector3.png"
        />
        <img
          class="vector vector6"
          src="assets/images/home/cycle/Vector6.png"
        />
        <div class="col down">
          <img src="assets/images/home/cycle/number4.png" />
          <h3>We care about</h3>
          <p>
            We provide ongoing assistance to the client post-delivery, ensuring
            their satisfaction with the site.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="feedbacks section">
    <div class="title">
      <h2>FEEDBACKS</h2>
    </div>
    <h1 class="header">What Our Clients Say</h1>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="clints">
        <div class="top-line">
          <img src="assets/images/home/feedback/UI Avatars-1.png" />
          <img src="assets/images/home/feedback/UI Avatars-2.png" />
          <img src="assets/images/home/feedback/UI Avatars-3.png" />
          <img src="assets/images/home/feedback/UI Avatars-4.png" />
        </div>
        <div class="bottom-line">
          <img src="assets/images/home/feedback/UI Avatars-6.png" />
          <img src="assets/images/home/feedback/UI Avatars-7.png" />
          <img src="assets/images/home/feedback/UI Avatars-8.png" />
        </div>
      </div>
      <div class="quote">
        <img src="assets/images/home/feedback/,,.png" />
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#111111" />
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h4>Lucas Digne</h4>
              <p class="opacity-75">Partner & CEO, Telecommunication Company</p>
              <p class="opacity-75">
                “We encountered a problem with processing big data and after
                only 1 week, iteck,s Experts provided perfect IT Solutions, fast
                process & affordable price we are really satisfied!”
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#111111" />
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h4>Lucas Digne</h4>
              <p class="opacity-75">Partner & CEO, Telecommunication Company</p>
              <p class="opacity-75">
                “We encountered a problem with processing big data and after
                only 1 week, iteck,s Experts provided perfect IT Solutions, fast
                process & affordable price we are really satisfied!”
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#111111" />
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h4>Lucas Digne</h4>
              <p class="opacity-75">Partner & CEO, Telecommunication Company</p>
              <p class="opacity-75">
                “We encountered a problem with processing big data and after
                only 1 week, iteck,s Experts provided perfect IT Solutions, fast
                process & affordable price we are really satisfied!”
              </p>
            </div>
          </div>
        </div>
        <button
          class="btnn carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <i class="bi bi-arrow-left-circle-fill" aria-hidden="true"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="btnn carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <i class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <section class="tech-news section">
    <div class="news">
      <div class="news-slide top-slide">
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
      </div>
      <div class="news-slide bottom-slide">
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
      </div>
    </div>
  </section>
  <section class="booking">
    <div class="container">
      <div class="booking-content">
        <h2 class="header">GET A FREE CONSULTATION WITH OUR EXPERTS</h2>
        <div class="services">
          <h3>Service</h3>
          <div class="services-items">
            <p>Website</p>
            <p>mobile app</p>
            <p>desktop app</p>
            <p>ui/ux</p>
          </div>
        </div>
        <form>
          <div class="row g-3 mb-3">
            <div class="col-md">
              <label for="name" class="form-label">Your name</label>
              <input type="text" class="form-control" id="name" />
            </div>
            <div class="col-md">
              <label for="phone" class="form-label">Your phone number</label>
              <input type="number" class="form-control" id="phone" />
            </div>
          </div>
          <div class="mb-3 email">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="pickers-wrapper mb-3">
            <div class="form-group">
              <div class="form-date-picker">
                <label igxLabel>Select Date</label>
                <igx-date-picker
                  #datePicker
                  name="date-picker"
                  [(ngModel)]="date"
                >
                </igx-date-picker>
              </div>
              <div class="form-time-picker">
                <label igxLabel>Select timeslot</label>
                <igx-time-picker
                  name="time-picker"
                  [(ngModel)]="date"
                  [disabled]="datePicker.value ? false : true"
                >
                </igx-time-picker>
              </div>
            </div>
          </div>
          <div class="mb-3 note">
            <label for="note" class="form-label">Note</label>
            <input type="text" class="form-control" id="note" />
          </div>
          <button class="btn">Book free</button>
        </form>
      </div>
      <div class="booking-img">
        <img src="assets/images/home/booking/Group 2000003075.png" />
      </div>
    </div>
  </section>
</div>
