<div class="main">
  <section class="hero section">
    <img class="background" src="/assets/images/home/hero/background.png" />
    <img class="github1" src="assets/images/home/hero/Github-1.png" />
    <img class="github" src="assets/images/home/hero/Github.png" />
    <img class="javascript" src="assets/images/home/hero/JAVA SCRIPT.png" />
    <img class="slack" src="assets/images/home/hero/slack-1.png" />
    <div class="hero-container container">
      <div class="hero-content">
        <h3>PHARO 101</h3>
        <h1 class="header">
          <span class="lg">Best <span class="co">Solution</span> and Grow</span>
          <br />
          <span class="sm"> your business easier than ever</span>
        </h1>
        <p class="pragraph">
          Elevate Your Business with Expert Java, PHP, React, <br />
          Angular, and AWS Solutions.
        </p>
        <div class="contact">
          <button class="btn">
            Get in touch <i class="bi bi-arrow-right ms-2"></i>
          </button>
        </div>
      </div>
      <div class="hero-img">
        <img
          src="assets/images/home/hero/hero-photo.png"
          alt="hero-photo"
          class="hero-photo"
        />
      </div>
    </div>
  </section>
  <section class="services section">
    <div class="container">
      <div class="title">
        <h2>FEATURED <span>SERVICES</span></h2>
      </div>
      <div class="cards">
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>IT Consultation</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/Consultation.png" />
            </div>
            <div class="card-para">
              <p>
                Trust our tap minds to eliminate workflow pain point implement
                new tech & app
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>Web Development</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/web-development.png" />
            </div>
            <div class="card-para">
              <p>
                Having website is first step to running online business.
                userfriendly responsive website with right flow
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>mobile development</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/mobile-development.png" />
            </div>
            <div class="card-para">
              <p>
                Having website is first step to running online business.
                userfriendly responsive website with right flow
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>Desktop Development</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/desktop.png" />
            </div>
            <div class="card-para">
              <p>
                Having website is first step to running online business.
                userfriendly responsive website with right flow
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>UI/UX Design</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/web-design.png" />
            </div>
            <div class="card-para">
              <p>
                Wireframing your application model is set of images that will
                show schematic or blueprint of your website or app
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>Ecommerce Web</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/e-commerce.png" />
            </div>
            <div class="card-para">
              <p>
                With an ecommerce solution in website customers can view your
                storefront through their PC or mobile.
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="big">
      <img src="assets/images/home/services/ellipse.png" />
    </div>
    <div class="smail">
      <img src="assets/images/home/services/ellipse.png" />
    </div>
  </section>
  <section class="projects section">
    <div class="title">
      <h2>RECENT <span>PROJECTS</span></h2>
    </div>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapse"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapse"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapse"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button
                    class="accordion-button collapse"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSex">
                  <button
                    class="accordion-button collapse"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSex"
                    aria-expanded="false"
                    aria-controls="collapseSex"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseSex"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingSex"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <img src="assets/images/home/projects/Rectangle 41963.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
