@import "../../../assets/_genral";

.main {
  margin-top: 10rem;
  @include breakpoints(mobile) {
    margin-top: 3rem;
  }
  @include breakpoints(medium) {
    margin-top: 3rem;
  }
  .hero {
    position: relative;
    .background {
      position: absolute;
      top: -15rem;
      right: 0rem;
      width: 75%;
      @include breakpoints(mobile) {
        top: 21rem;
        width: 140%;
      }
      @include breakpoints(medium) {
        top: -4rem;
        width: 81%;
      }
    }
    .github1 {
      position: absolute;
      top: -10rem;
    }
    .github {
      position: absolute;
      bottom: 0;
      left: 1rem;
    }
    .javascript {
      position: absolute;
      top: 70%;
      left: 45%;
    }
    .slack {
      position: absolute;
      top: 0;
      left: 30%;
    }
    .hero-container {
      .hero-content {
        width: 40%;
        @include breakpoints(mobile) {
          width: 90%;
          margin: 0 1rem;
        }
        @include breakpoints(medium) {
          width: 56%;
        }
        h3 {
          color: $primary;
        }
        h1 {
          color: white;
          font-size: 35px;
          .lg {
            font-weight: 700;
          }
          .co {
            color: $primary;
          }
          .sm {
            font-size: 30px;
            font-weight: 400;
          }
        }
        p {
          color: white;
          font-size: 18px;
        }
        .contact {
          position: relative;
          .control {
            padding: 10px 60px 10px 15px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #d9d9d9;
            &:focus {
              outline: none;
            }
            &::placeholder {
              opacity: 0.5;
            }
          }
          .btn {
            position: absolute;
            background-color: $primary;
            color: white;
            padding: 10px 25px 10px 30px;
            border-radius: 32px;
            font-size: 18px;
          }
        }
      }
      .hero-img {
        .hero-photo {
          position: absolute;
          top: -75%;
          left: 55%;
          width: 37%;
          @include breakpoints(mobile) {
            top: 140%;
            left: 9%;
            width: 82%;
          }
          @include breakpoints(medium) {
            top: 0;
            left: 55%;
            width: 40%;
          }
        }
      }
    }
  }
  .guide {
    margin-top: 15rem;
    @include breakpoints(mobile) {
      margin-top: 30rem;
    }
    @include breakpoints(medium) {
      margin-top: 10rem;
      margin-bottom: 5rem;
    }
    @keyframes animate {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
    .news {
      overflow: hidden;
      transform: skewY(2deg);
      .news-slide {
        white-space: nowrap;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(50px);
        .slide {
          display: inline-block;
          padding: 1rem 0;
          animation: 25s animate infinite linear;
          @include breakpoints(mobile) {
            padding: 0.7rem 0;
          }
          span {
            color: white;
            font-size: 18px;
            margin-right: 5rem;
            @include breakpoints(mobile) {
              margin-right: 1.5rem;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .services {
    position: relative;
    @include breakpoints(medium) {
      margin-top: 0rem;
    }
    .container {
      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include breakpoints(mobile) {
          display: block;
        }
        @include breakpoints(medium) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  .projects {
    .container-fluid {
      padding: 5rem 0;
      box-shadow: 0 0 30px -3px rgba(255, 255, 255, 0.1);
    }
    .container {
      .row {
        display: flex;
        align-items: center;
        .col-5 {
          padding-right: 2rem;
          .accordion {
            .accordion-item {
              border: none;
              outline: none;
              .accordion-header {
                .accordion-button {
                  color: white;
                  background-color: #111111;
                  border: none;
                  font-size: 24px;
                  font-weight: bold;
                  &::after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='white' class='bi bi-arrow-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8'/%3E%3C/svg%3E");
                  }
                }
              }
              .accordion-body {
                background-color: #111111;
                color: white;
                .paragraphs {
                  display: flex;
                  p {
                    padding: 0.5rem 1rem;
                    margin: 0.5rem;
                    border-radius: 5px;
                    background-color: #5729d8;
                    color: white;
                  }
                }
              }
            }
          }
        }
        .col-7 {
          border-left: 1px solid white;
          display: flex;
          justify-content: flex-end;
          .img {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
  .about {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoints(mobile) {
        display: block;
        margin-left: 0.8rem;
      }
      .about-content {
        .title {
          justify-content: flex-start;
        }
        color: white;
        .header {
          span {
            color: $primary;
          }
        }
        .pragraph {
          font-size: 20px;
          width: 80%;
          @include breakpoints(mobile) {
            width: 90%;
            font-size: 18px;
          }
        }
        .rates {
          display: grid;
          grid-template-columns: auto auto;
        }
      }
      .about-img {
        img {
          @include breakpoints(mobile) {
            width: 100%;
          }
        }
      }
    }
  }
  .why {
    .container {
      display: flex;
      align-items: center;
      @include breakpoints(mobile) {
        flex-direction: column-reverse;
      }
      .why-content {
        margin-left: 4rem;
        @include breakpoints(mobile) {
          margin-left: 0.8rem;
        }
        .title {
          justify-content: flex-start;
        }
        color: white;
        .header {
          margin-bottom: 3rem;
          span {
            color: $primary;
          }
        }
        .pragraph {
          font-size: 20px;
          width: 80%;
        }
        .rates {
          display: grid;
          grid-template-columns: auto;
          .why-box {
            border: 1px solid #3423a6;
            display: flex;
            align-items: start;
            padding: 1rem 5rem 0.5rem 1rem;
            margin: 0rem 1rem 1rem 0rem;
            border-radius: 1rem;
            p {
              font-size: 14px;
            }
            img {
              padding-right: 1rem;
            }
          }
        }
      }
      .why-img {
        img {
          width: 100%;
          margin-right: 3rem;
          @include breakpoints(mobile) {
            width: 100%;
          }
        }
      }
    }
  }
  .cycle {
    .container {
      position: relative;
      .background {
        position: absolute;
        left: 30%;
        bottom: 0;
        @include breakpoints(mobile) {
          display: none;
        }
      }
      .header,
      .pragraph {
        text-align: center;
        color: white;
      }
      .pragraph {
        font-size: 24px;
        font-weight: lighter;
        margin: 2rem 15rem;
        @include breakpoints(mobile) {
          margin: 0 0.5rem 2rem 0.5rem;
        }
      }
      .row {
        position: relative;
        @include breakpoints(mobile) {
          display: block;
          margin: 0 0.5rem;
        }
        .col {
          z-index: 5;
          text-align: center;

          h3 {
            padding-top: 1rem;
          }
          h3,
          p {
            color: white;
            text-align: center;
          }
        }
        .down {
          margin-top: 5rem;
          @include breakpoints(mobile) {
            margin: 0;
          }
        }
        .vector {
          position: absolute;
          width: 17%;
          @include breakpoints(mobile) {
            width: 93%;
          }
          &.vector1 {
            left: 17%;
            top: 11%;
            @include breakpoints(mobile) {
              display: none;
            }
          }
          &.vector2 {
            left: 42%;
            top: 37%;
            @include breakpoints(mobile) {
              display: none;
            }
          }
          &.vector3 {
            right: 16%;
            top: 8%;
            @include breakpoints(mobile) {
              display: none;
            }
          }
          &.vector4 {
            display: none;
            @include breakpoints(mobile) {
              display: block;
              width: 30%;
              right: -1rem;
              top: 7rem;
              transform: rotateZ(0deg);
            }
          }
          &.vector5 {
            display: none;
            @include breakpoints(mobile) {
              display: block;
              width: 30%;
              left: -1rem;
              top: 26rem;
              transform: rotateX(20deg);
            }
          }
          &.vector6 {
            display: none;
            @include breakpoints(mobile) {
              display: block;
              width: 30%;
              right: -1rem;
              top: 46rem;
              transform: rotateZ(0deg);
            }
          }
        }
      }
    }
  }
  .feedbacks {
    margin-left: 10rem;
    margin-right: 10rem;
    @include breakpoints(mobile) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .header {
      color: white;
      text-align: center;
    }
    .carousel {
      .clints {
        margin: 6rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @include breakpoints(mobile) {
          margin: 3rem 0;
        }
        .top-line,
        .bottom-line {
          display: grid;
          justify-content: center;
          gap: 7rem;
          @include breakpoints(mobile) {
            gap: 3rem;
          }
          img {
            @include breakpoints(mobile) {
              width: 3rem;
            }
          }
        }
        .top-line {
          grid-template-columns: repeat(4, 1fr);
        }
        .bottom-line {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .quote {
        text-align: center;
      }
      .btnn {
        font-size: 45px;
      }
      .carousel-inner {
        .carousel-item {
          .carousel-caption {
            position: absolute;
            top: 10px;
            p {
              margin-bottom: 0.5rem;
            }
            @include breakpoints(mobile) {
              margin: 0 1rem;
            }
          }
        }
      }
    }
  }
  .tech-news {
    @keyframes top {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
    @keyframes bottom {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }
    .news {
      overflow: hidden;

      .news-slide {
        white-space: nowrap;
        .slide {
          display: inline-block;
        }
        &.top-slide {
          animation: 25s top infinite linear;
          img {
            @include breakpoints(mobile) {
              width: 50%;
            }
          }
        }
        &.bottom-slide {
          animation: 25s bottom infinite linear;
          img {
            @include breakpoints(mobile) {
              width: 50%;
            }
          }
        }
      }
    }
  }
  .booking {
    background-color: #2c1c92;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 0;
      .booking-content {
        color: white;
        .services {
          .services-items {
            display: flex;
            p {
              border: 1px solid white;
              border-radius: 3px;
              margin-right: 1rem;
              padding: 0.5rem 1rem;
            }
          }
        }
        form {
          width: 85%;
          .email,
          .row,
          .note {
            input {
              padding: 13px 0;
              border-radius: 3px;
            }
          }
          .pickers-wrapper {
            display: flex;
            flex-direction: column;
            .form-group {
              display: flex;
              flex: 1;
              .form-date-picker,
              .form-time-picker {
                flex: 50%;
                label {
                  color: white;
                }
                igx-date-picker,
                igx-time-picker {
                  background-color: white;
                  border-radius: 3px;
                }
              }
              .form-time-picker {
                margin-left: 16px;
                border-bottom: none;
              }
            }
          }
          .btn {
            color: white;
            background-color: $primary;
            border-radius: 3px;
            padding: 0.8rem 2rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
