<div class="main">
  <section class="hero section">
    <img class="background" src="/assets/images/home/hero/background.png" />
    <img class="github1" src="assets/images/home/hero/Github-1.png" />
    <img class="github" src="assets/images/home/hero/Github.png" />
    <img class="javascript" src="assets/images/home/hero/JAVA SCRIPT.png" />
    <img class="slack" src="assets/images/home/hero/slack-1.png" />
    <div class="hero-container container">
      <div class="hero-content">
        <h3>PHARO 101</h3>
        <h1 class="header">
          <span class="lg">Best <span class="co">Solution</span> and Grow</span>
          <br />
          <span class="sm"> your business easier than ever</span>
        </h1>
        <p class="pragraph">
          Elevate Your Business with Expert Java, PHP, React, <br />
          Angular, and AWS Solutions.
        </p>
        <div class="contact">
          <button class="btn">
            Get in touch <i class="bi bi-arrow-right ms-2"></i>
          </button>
        </div>
      </div>
      <div class="hero-img">
        <img
          src="assets/images/home/hero/hero-photo.png"
          alt="hero-photo"
          class="hero-photo"
        />
      </div>
    </div>
  </section>
  <section class="services section">
    <div class="container">
      <div class="title">
        <h2>FEATURED <span>SERVICES</span></h2>
      </div>
      <div class="cards">
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>IT Consultation</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/Consultation.png" />
            </div>
            <div class="card-para">
              <p>
                Trust our tap minds to eliminate workflow pain point implement
                new tech & app
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>Web Development</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/web-development.png" />
            </div>
            <div class="card-para">
              <p>
                Having website is first step to running online business.
                userfriendly responsive website with right flow
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>mobile development</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/mobile-development.png" />
            </div>
            <div class="card-para">
              <p>
                Having website is first step to running online business.
                userfriendly responsive website with right flow
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>Desktop Development</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/desktop.png" />
            </div>
            <div class="card-para">
              <p>
                Having website is first step to running online business.
                userfriendly responsive website with right flow
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>UI/UX Design</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/web-design.png" />
            </div>
            <div class="card-para">
              <p>
                Wireframing your application model is set of images that will
                show schematic or blueprint of your website or app
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="card-head">
              <h3>Ecommerce Web</h3>
            </div>
            <div class="card-imge">
              <img src="assets/images/home/services/e-commerce.png" />
            </div>
            <div class="card-para">
              <p>
                With an ecommerce solution in website customers can view your
                storefront through their PC or mobile.
              </p>
            </div>
            <div class="card-link">
              <a href="#">Learn more<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="big">
      <img src="assets/images/home/services/ellipse.png" />
    </div>
    <div class="smail">
      <img src="assets/images/home/services/ellipse.png" />
    </div>
  </section>
  <section class="projects section">
    <div class="title">
      <h2>RECENT <span>PROJECTS</span></h2>
    </div>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSex">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSex"
                    aria-expanded="false"
                    aria-controls="collapseSex"
                  >
                    Desktop Development
                  </button>
                </h2>
                <div
                  id="collapseSex"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingSex"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h5>Project overview</h5>
                    The project is an educational website and application that
                    aims to be specialized in offering cooking courses and how
                    to become a professional chef and tends to you find the site
                    easy and smooth in learning where you do not get tired of
                    the learning period and gives you an incentive to be able to
                    continue
                    <div class="paragraphs">
                      <p class="p">UI/UX</p>
                      <p class="p">Web</p>
                      <p class="p">Mobile</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <img src="assets/images/home/projects/Rectangle 41963.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about section">
    <div class="container">
      <div class="about-content">
        <div class="title">
          <h2>ABOUT <span>US</span></h2>
        </div>
        <h1 class="header">
          Meet With <span>A House</span><br />
          Of Creatives.
        </h1>
        <p class="pragraph">
          Iteck Co is the partner of choice for many of the world's leading
          enterprises, SMEs and technology challengers. We help businesses
          elevate their value through custom software development, product
          design, QA and consultancy services.
        </p>
        <div class="rates">
          <div>
            <div class="experince about-box">
              <img src="assets/images/home/about/years.png" />
              <div class="info">
                <h3>+20</h3>
                <p>YEARS OF EXPERIENCE</p>
              </div>
            </div>
            <div class="rate about-box">
              <img src="assets/images/home/about/projects.png" />
              <div class="info">
                <h3>15K</h3>
                <p>PROJECTS COMPLETED</p>
              </div>
            </div>
          </div>
          <div>
            <div class="team-members about-box">
              <img src="assets/images/home/about/achieved.png" />
              <div class="info">
                <h3>240</h3>
                <p>AEARDS ACHIEVED</p>
              </div>
            </div>
            <div class="projects about-box">
              <img src="assets/images/home/about/clients.png" />
              <div class="info">
                <h3>180</h3>
                <p>SATISFIED CLIENTS</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-img">
        <img src="assets/images/home/about/Rectangle 9.png" alt="about" />
      </div>
    </div>
  </section>
  <section class="why section">
    <div class="container">
      <div class="why-img">
        <img src="assets/images/home/why/main.png" alt="why" />
      </div>
      <div class="why-content">
        <div class="title">
          <h2>Why <span>Choose Us</span></h2>
        </div>
        <h1 class="header">
          Why Choose Our Own <br />
          <span>IT service</span>
        </h1>
        <div class="rates">
          <div class="experince why-box">
            <img src="assets/images/home/why/Price.png" />
            <div class="info">
              <h4>Affordable Price</h4>
              <p>
                Nanotechnology immersion along the information high will close
                the loop on focusing.
              </p>
            </div>
          </div>
          <div class="rate why-box">
            <img src="assets/images/home/why/crown.png" />
            <div class="info">
              <h4>Top-Notch Experts Consulting</h4>
              <p>
                Our top-notch Experts with much years of experience certail will
                give best solutions for your business
              </p>
            </div>
          </div>
          <div class="team-members why-box">
            <img src="assets/images/home/why/Chat.png" />
            <div class="info">
              <h4>Dedicated Support 24/7</h4>
              <p>Customer support is always our number one priority</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
