@import "../../../../assets/_genral";

.main {
  margin-top: 3rem;
  .container {
    .header,
    .description,
    .paragraphs {
      color: white;
    }
    .paragraphs {
      display: flex;
      p {
        padding: 0.5rem 1rem;
        margin: 0.5rem 1rem 0.5rem 0;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
      }
    }
  }
}
