<div class="main">
  <section class="hero section">
    <div class="container">
      <h1 class="header">Big chafe</h1>
      <p class="description">
        The project is an educational website and application that aims to be
        specialized in offering cooking courses
      </p>
      <div class="paragraphs">
        <p class="p">Web</p>
        <p class="p">Mobile</p>
      </div>
    </div>
    <div class="hero-img">
      <img src="assets/images/portfolio/case-study/hero.png" />
    </div>
  </section>
  <section class="challenge sections">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="title">
            <h2>The challenge</h2>
          </div>
          <div class="desciption">
            In the digital age, more people are turning to online courses, and
            our client wants to create a website specifically for cooking
            enthusiasts. The aim is simple but powerful: make learning to cook
            enjoyable and straightforward. This article discusses the challenges
            and solutions in creating a user-friendly platform that caters to
            both beginners and seasoned cooks.
          </div>
        </div>
        <div class="col-md-6">
          <div class="challenge-img">
            <img src="assets/images/portfolio/case-study/challenge.png" />
          </div>
        </div>
      </div>
      <div class="cards sections">
        <div class="card transparent-background">
          <div class="content">
            <div class="card-head">
              <h3>+4.7</h3>
            </div>
            <div class="card-para">
              <p>Client Rating</p>
            </div>
          </div>
        </div>
        <div class="card transparent-background">
          <div class="content">
            <div class="card-head">
              <h3>+4.7</h3>
            </div>
            <div class="card-para">
              <p>Client Rating</p>
            </div>
          </div>
        </div>
        <div class="card transparent-background">
          <div class="content">
            <div class="card-head">
              <h3>+4.7</h3>
            </div>
            <div class="card-para">
              <p>Client Rating</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="solution section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="challenge-img">
            <img src="assets/images/portfolio/case-study/solution.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="title">
            <h2>Solution</h2>
          </div>
          <div class="desciption">
            .User-Focused Design:Put the user first. Understand their needs
            through surveys and interviews. Ensure the website works seamlessly
            on all devices. <br />
            .Personalized Learning:Let users create their learning path based on
            their skills and interests. This personalized approach ensures
            everyone gets a tailored experience. <br />
            .Exciting Content : Invest in engaging content high-quality videos,
            graphics, and step-by-step guides. Make it visually appealing and
            easy to follow.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features section">
    <div class="title">
      <h2>Solution</h2>
    </div>
    <div class="cards">
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
      <div class="card transparent-background">
        <h1>1</h1>
        <p>Push Notifications</p>
      </div>
    </div>
  </section>
  <section class="website section">
    <div class="title">
      <h2>Website</h2>
    </div>
    <div class="labtop-img">
      <img src="assets/images/portfolio/case-study/MacBook Pro 16.png" />
      <div style="width: 907px; overflow: hidden" class="frame">
        <iframe src="assets/images/test.png" width="990" height="562"></iframe>
      </div>
    </div>
    <div class="demos">
      <div class="one">
        <img src="assets/images/portfolio/case-study/website.png" />
      </div>
      <div class="two">
        <img src="assets/images/portfolio/case-study/website.png" />
      </div>
    </div>
  </section>
  <section class="mobile section">
    <div class="title">
      <h2>mobile</h2>
    </div>
    <div class="mobile-img">
      <img src="assets/images/portfolio/case-study/hero.png" />
    </div>
    <div class="demos">
      <div class="two">
        <img src="assets/images/portfolio/case-study/website.png" />
      </div>
      <div class="three">
        <img src="assets/images/portfolio/case-study/website.png" />
      </div>
    </div>
  </section>
  <section class="feedbacks section">
    <div class="title">
      <h2>FEEDBACKS</h2>
    </div>
    <h1 class="header">What Our Clients Say</h1>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="clints">
        <div class="top-line">
          <img src="assets/images/home/feedback/UI Avatars-1.png" />
          <img src="assets/images/home/feedback/UI Avatars-2.png" />
          <img src="assets/images/home/feedback/UI Avatars-3.png" />
          <img src="assets/images/home/feedback/UI Avatars-4.png" />
        </div>
        <div class="bottom-line">
          <img src="assets/images/home/feedback/UI Avatars-6.png" />
          <img src="assets/images/home/feedback/UI Avatars-7.png" />
          <img src="assets/images/home/feedback/UI Avatars-8.png" />
        </div>
      </div>
      <div class="quote">
        <img src="assets/images/home/feedback/,,.png" />
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#111111" />
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h4>Lucas Digne</h4>
              <p class="opacity-75">Partner & CEO, Telecommunication Company</p>
              <p class="opacity-75">
                “We encountered a problem with processing big data and after
                only 1 week, iteck,s Experts provided perfect IT Solutions, fast
                process & affordable price we are really satisfied!”
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#111111" />
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h4>Lucas Digne</h4>
              <p class="opacity-75">Partner & CEO, Telecommunication Company</p>
              <p class="opacity-75">
                “We encountered a problem with processing big data and after
                only 1 week, iteck,s Experts provided perfect IT Solutions, fast
                process & affordable price we are really satisfied!”
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#111111" />
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h4>Lucas Digne</h4>
              <p class="opacity-75">Partner & CEO, Telecommunication Company</p>
              <p class="opacity-75">
                “We encountered a problem with processing big data and after
                only 1 week, iteck,s Experts provided perfect IT Solutions, fast
                process & affordable price we are really satisfied!”
              </p>
            </div>
          </div>
        </div>
        <button
          class="btnn carousel-control-prev"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="prev"
        >
          <i class="bi bi-arrow-left-circle-fill" aria-hidden="true"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="btnn carousel-control-next"
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide="next"
        >
          <i class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  <section class="tech-news section">
    <div class="news">
      <div class="news-slide top-slide">
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
      </div>
      <div class="news-slide bottom-slide">
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
        <div class="slide">
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
          <img src="assets/images/home/tech-news/Frame.png" />
        </div>
      </div>
    </div>
  </section>
  <section class="booking">
    <div class="container">
      <div class="booking-content">
        <h2 class="header">GET A FREE CONSULTATION WITH OUR EXPERTS</h2>
        <div class="services">
          <h3>Service</h3>
          <div class="services-items">
            <p>Website</p>
            <p>mobile app</p>
            <p>desktop app</p>
            <p>ui/ux</p>
          </div>
        </div>
        <form>
          <div class="row g-3 mb-3">
            <div class="col-md">
              <label for="name" class="form-label">Your name</label>
              <input type="text" class="form-control" id="name" />
            </div>
            <div class="col-md">
              <label for="phone" class="form-label">Your phone number</label>
              <input type="number" class="form-control" id="phone" />
            </div>
          </div>
          <div class="mb-3 email">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="pickers-wrapper mb-3">
            <div class="form-group">
              <div class="form-date-picker">
                <label igxLabel>Select Date</label>
                <igx-date-picker
                  #datePicker
                  name="date-picker"
                  [(ngModel)]="date"
                >
                </igx-date-picker>
              </div>
              <div class="form-time-picker">
                <label igxLabel>Select timeslot</label>
                <igx-time-picker
                  name="time-picker"
                  [(ngModel)]="date"
                  [disabled]="datePicker.value ? false : true"
                >
                </igx-time-picker>
              </div>
            </div>
          </div>
          <div class="mb-3 note">
            <label for="note" class="form-label">Note</label>
            <input type="text" class="form-control" id="note" />
          </div>
          <button class="btn">Book free</button>
        </form>
      </div>
      <div class="booking-img">
        <img src="assets/images/home/booking/Group 2000003075.png" />
      </div>
    </div>
  </section>
</div>
