@import "../../../../assets/_genral";

.carousel {
  .clints {
    margin: 6rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include breakpoints(mobile) {
      margin: 3rem 0;
    }
    .top-line,
    .bottom-line {
      display: grid;
      justify-content: center;
      gap: 7rem;
      @include breakpoints(mobile) {
        gap: 3rem;
      }
      img {
        @include breakpoints(mobile) {
          width: 3rem;
        }
      }
    }
    .top-line {
      grid-template-columns: repeat(4, 1fr);
    }
    .bottom-line {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .quote {
    text-align: center;
  }
  .btnn {
    font-size: 45px;
  }
  .carousel-inner {
    .carousel-item {
      .carousel-caption {
        position: absolute;
        top: 10px;
        p {
          margin-bottom: 0.5rem;
        }
        @include breakpoints(mobile) {
          margin: 0 1rem;
        }
      }
    }
  }
}
