@import "../../../../assets/_genral";
.card {
  position: relative;
  z-index: 10;
  flex: 0 1 30%;
  padding: 1.5rem;
  margin: 1rem;
  .card-head,
  .card-para {
    color: white;
  }
  .card-imge {
    padding: 1rem 0;
  }
}
